
--select * from [dbo].[FN_TABLE_STOCKLEDGER](8,20180101,20180101,1,'',1,1,1,'Y','Y','','')
ALTER function [dbo].[fn18_stockleadger] (
 @TRANSACTIONMETHOD      INT,
 @DATEFROM               INT,
 @DATETO                 INT,
 @ALLLOCATION            INT,
 @LOCATIONCODE           VARCHAR(20),
 @INCLUDEZEROBALANCE     INT,
 @INCLUDEDATA            INT,
 @INCLUDEDSTOCKTRANSFER  INT,
 @VIEWCOSTRIGHT          CHAR(1),
 @VIEWPRICERIGHT         CHAR(1),
 @stockcode tp_codehelper readonly,
 @categorycode tp_codehelper readonly,
 @groupcode tp_codehelper readonly,
 @classcode tp_codehelper readonly)
RETURNS @table table (
 STOCKCODE              VARCHAR(50),
 STOCKTYPE              CHAR(1),
 BUNDLED                CHAR(1),
 INACTIVED              CHAR(1),
 STOCKNAME              NVARCHAR(100),
 STOCKNAME2             NVARCHAR(100),
 STOCKCATEGORYCODE      VARCHAR(20),
 STOCKCLASSCODE         VARCHAR(20),
 STOCKGROUPCODE         VARCHAR(20),
 STOCKLASTPURCHASEPRICE Float,
 STOCKBASEUOM           VARCHAR(20),
 STOCKMINQTY            Float,
 STOCKMAXQTY            Float,
 STOCKREORDERLEVEL      Float,
 STOCKREORDERQTY        Float,
 STOCKBARCODE           VARCHAR(100),
 STOCKWEIGHT            Float,
 STOCKWEIGHTUOM         VARCHAR(20),
 STOCKVOLUMN            Float,
 STOCKVOLUMNUOM         VARCHAR(20),
 STOCKUOM1              VARCHAR(20),
 STOCKUOM1RATE          Float,
 STOCKUOM2              VARCHAR(20),
 STOCKUOM2RATE          Float,
 STOCKUOM3              VARCHAR(20),
 STOCKUOM3RATE          Float,
 STOCKINACTIVED         CHAR(1),
 STOCKCATEGORYNAME      VARCHAR(100),
 STOCKCLASSNAME         VARCHAR(100),
 STOCKGROUPNAME         VARCHAR(100),
 STOCKLOCATIONCODE      VARCHAR(20),
 STOCKLOCATIONNAME      VARCHAR(100),
 STOCKTRANSACTIONID     INTEGER,
 TRANSACTIONDATE        DateTime,
 DESCRIPTION            NVARCHAR(100),
 PROJECTCODE            VARCHAR(20),
 JOBNAME                VARCHAR(50),
 STOCKIN                Float,
 STOCKOUT               Float,
 STOCKBALANCE           Float,
 UOM                    VARCHAR(20),
 COST                   Float,
 PRICE                  Float,
 AMOUNT                 Float,
 DISCOUNT               Float,
 REFTYPE                CHAR(20),
 DOCUMENTNO             VARCHAR(50),
 REFERENCENO1           VARCHAR(50),
 REFERENCENO2           VARCHAR(50),
 REFNO                  VARCHAR(50),
 CANCELLED              CHAR(1))
AS 
BEGIN

DECLARE @TMPQTY Float;
DECLARE @TMPRECORDCOUNT Int;
Declare
@tblSTOCKCODE              VARCHAR(50),
@tblSTOCKTYPE              CHAR(1),
@tblBUNDLED                CHAR(1),
@tblINACTIVED              CHAR(1),
@tblSTOCKNAME              NVARCHAR(100),
@tblSTOCKNAME2             NVARCHAR(100),
@tblSTOCKCATEGORYCODE      VARCHAR(20),
@tblSTOCKCLASSCODE         VARCHAR(20),
@tblSTOCKGROUPCODE         VARCHAR(20),
@tblSTOCKLASTPURCHASEPRICE Float,
@tblSTOCKBASEUOM           VARCHAR(20),
@tblSTOCKMINQTY            Float,
@tblSTOCKMAXQTY            Float,
@tblSTOCKREORDERLEVEL      Float,
@tblSTOCKREORDERQTY        Float,
@tblSTOCKBARCODE           VARCHAR(100),
@tblSTOCKWEIGHT            Float,
@tblSTOCKWEIGHTUOM         VARCHAR(20),
@tblSTOCKVOLUMN            Float,
@tblSTOCKVOLUMNUOM         VARCHAR(20),
@tblSTOCKUOM1              VARCHAR(20),
@tblSTOCKUOM1RATE          Float,
@tblSTOCKUOM2              VARCHAR(20),
@tblSTOCKUOM2RATE          Float,
@tblSTOCKUOM3              VARCHAR(20),
@tblSTOCKUOM3RATE          Float,
@tblSTOCKINACTIVED         CHAR(1),
@tblSTOCKCATEGORYNAME      VARCHAR(100),
@tblSTOCKCLASSNAME         VARCHAR(100),
@tblSTOCKGROUPNAME         VARCHAR(100),
@tblSTOCKLOCATIONCODE      VARCHAR(20),
@tblSTOCKLOCATIONNAME      VARCHAR(100),
@tblSTOCKTRANSACTIONID     INTEGER,
@tblTRANSACTIONDATE        DateTime,
@tblDESCRIPTION            NVARCHAR(100),
@tblPROJECTCODE            VARCHAR(20),
@tblJOBNAME                VARCHAR(50),
@tblSTOCKIN                Float,
@tblSTOCKOUT               Float,
@tblSTOCKBALANCE           Float,
@tblUOM                    VARCHAR(20),
@tblCOST                   Float,
@tblPRICE                  Float,
@tblAMOUNT                 Float,
@tblDISCOUNT               Float,
@tblREFTYPE                CHAR(20),
@tblDOCUMENTNO             VARCHAR(50),
@tblREFERENCENO1           VARCHAR(50),
@tblREFERENCENO2           VARCHAR(50),
@tblREFNO                  VARCHAR(50),
@tblCANCELLED              CHAR(1);

  IF (@IncludeData <> 0)
  BEGIN
    IF (@TransactionMethod = 0)
    BEGIN    
      Declare db_cursor1 cursor for
        Select S.skStockCode, S.skItemType, S.skStockName, S.skStockName2, S.skCategoryCode, S.skClassCode,
        S.skGroupCode, S.skLastPurchasePrice, S.skUOM, S.skMinQty, S.skMaxQty, S.skReorderLevel,
        S.skReorderQty, S.skBarCode, S.skWeight, S.skWeightUOM, S.skVolumn, S.skVolumnUOM,
        S.skUOM1, S.skUOM1Rate, S.skUOM2, S.skUOM2Rate, S.skUOM3, S.skUOM3Rate, S.skInactived,
        SCT.ziDescription, SCL.zyDescription, SG.zmDescription, S.skBundled, S.skInactived
        From su_stock S
        Left Join su_stockcategory SCT On SCT.ziCategoryCode = S.skCategoryCode
        Left Join su_stockclass SCL On SCL.zyClassCode = S.skClassCode
        Left Join su_stockgroup SG On SG.zmGroupCode = S.skGroupCode
        Where S.skItemType <> 'V' and S.skStockCode in (select * from @stockcode)
        --and S.skCategoryCode in (select * from @categorycode)
        --and S.skClassCode in (select * from @classcode)
        --and S.skGroupCode in (select * from @groupcode)        
        Open db_cursor1
		FETCH NEXT FROM db_cursor1 INTO @tblSTOCKCODE, @tblSTOCKTYPE, @tblSTOCKNAME, @tblSTOCKNAME2, @tblSTOCKCATEGORYCODE, @tblSTOCKCLASSCODE,
             @tblSTOCKGROUPCODE, @tblSTOCKLASTPURCHASEPRICE, @tblSTOCKBASEUOM, @tblSTOCKMINQTY, @tblSTOCKMAXQTY, @tblSTOCKREORDERLEVEL,
             @tblSTOCKREORDERQTY, @tblSTOCKBARCODE, @tblSTOCKWEIGHT, @tblSTOCKWEIGHTUOM, @tblSTOCKVOLUMN, @tblSTOCKVOLUMNUOM,
             @tblSTOCKUOM1, @tblSTOCKUOM1RATE, @tblSTOCKUOM2, @tblSTOCKUOM2RATE, @tblSTOCKUOM3, @tblSTOCKUOM3RATE, @tblSTOCKINACTIVED,
             @tblSTOCKCATEGORYNAME, @tblSTOCKCLASSNAME, @tblSTOCKGROUPNAME, @tblBUNDLED, @tblInactived
        WHILE @@FETCH_STATUS = 0
      BEGIN
        set @tblRefNo = '';
		IF (@ViewCostRight = 'N')
		BEGIN
			set @tblStockLastPurchasePrice = 0;
		END
	
      	Select @tblSTOCKBALANCE=Round(dbo.FB_Null2Zero(Sum(ST.znQty)), 8) From su_stocktransaction ST
      	Where ST.znStockCode = @tblStockCode
        And ST.znCancelled <> 'T' And dbo.DateToInt(ST.znTransactionDate) < @DateFrom
        And (@AllLocation <> 0 Or ST.znLocationCode = @LocationCode)
        And ST.znFromType <> 'DO' And ST.znFromType <> 'GRN'
        And (@IncludedStockTransfer <> 0 Or ST.znRefType <> 'STT');
        
        set @TmpRecordCount = 0;
        set @tblStockBalance = Round(@tblStockBalance, 8);
        
        IF (Round(@tblStockBalance, 8) = 0)
        BEGIN
          Select @TMPRECORDCOUNT=Count(ST.znStockCode) From su_stocktransaction ST
      	  Where ST.znStockCode = @tblStockCode
          And ST.znCancelled <> 'T'
          And ST.znTransactionDate >= @DateFrom
          And ST.znTransactionDate <= @DateTo
          And (@AllLocation <> 0 Or ST.znLocationCode = @LocationCode)
          And ST.znFromType <> 'DO' And ST.znFromType <> 'GRN'
          And (@IncludedStockTransfer <> 0 Or ST.znRefType <> 'STT');
        END
        
        IF ((@IncludeZeroBalance <> 0) OR (@tblStockBalance <> 0) OR (@TmpRecordCount > 0))
        BEGIN
          set @tblStockLocationCode = '';
          set @tblStockLocationName = '';
          set @tblStockTransactionID = 0;
          set @tblTransactionDate = dbo.DateIntToDateTime(@DateFrom);
          set @tblDescription = 'BALANCE B/F';
          set @tblProjectCode = '';
          set @tblJobName = '';
          set @tblUOM = '';
          set @tblCost = 0;
          set @tblPrice = 0;
          set @tblAmount = 0;
          set @tblDiscount = 0;
          set @tblRefType = 'OB';
          set @tblDocumentNo = '';
		  set @tblRefNo = '';
          set @tblReferenceNo1 = '';
          set @tblReferenceNo2 = '';
          set @tblCancelled = 'F';
          
          IF (@tblStockBalance >= 0)
          BEGIN
            set @tblStockIn = @tblStockBalance;
            set @tblStockOut = 0;
          END
          ELSE
          BEGIN
            set @tblStockIn = 0;
            set @tblStockOut = -@tblStockBalance;
          END
          
          /* Suspend balance b/f */
          Insert into @table values(@tblSTOCKCODE              
			,@tblSTOCKTYPE              
			,@tblBUNDLED                
			,@tblINACTIVED              
			,@tblSTOCKNAME              
			,@tblSTOCKNAME2             
			,@tblSTOCKCATEGORYCODE      
			,@tblSTOCKCLASSCODE         
			,@tblSTOCKGROUPCODE         
			,@tblSTOCKLASTPURCHASEPRICE 
			,@tblSTOCKBASEUOM           
			,@tblSTOCKMINQTY            
			,@tblSTOCKMAXQTY            
			,@tblSTOCKREORDERLEVEL      
			,@tblSTOCKREORDERQTY        
			,@tblSTOCKBARCODE           
			,@tblSTOCKWEIGHT            
			,@tblSTOCKWEIGHTUOM         
			,@tblSTOCKVOLUMN            
			,@tblSTOCKVOLUMNUOM         
			,@tblSTOCKUOM1              
			,@tblSTOCKUOM1RATE          
			,@tblSTOCKUOM2              
			,@tblSTOCKUOM2RATE          
			,@tblSTOCKUOM3              
			,@tblSTOCKUOM3RATE          
			,@tblSTOCKINACTIVED         
			,@tblSTOCKCATEGORYNAME      
			,@tblSTOCKCLASSNAME         
			,@tblSTOCKGROUPNAME         
			,@tblSTOCKLOCATIONCODE      
			,@tblSTOCKLOCATIONNAME      
			,@tblSTOCKTRANSACTIONID     
			,@tblTRANSACTIONDATE        
			,@tblDESCRIPTION            
			,@tblPROJECTCODE            
			,@tblJOBNAME                
			,@tblSTOCKIN                
			,@tblSTOCKOUT               
			,@tblSTOCKBALANCE           
			,@tblUOM                    
			,@tblCOST                   
			,@tblPRICE                  
			,@tblAMOUNT                 
			,@tblDISCOUNT               
			,@tblREFTYPE                
			,@tblDOCUMENTNO             
			,@tblREFERENCENO1           
			,@tblREFERENCENO2           
			,@tblREFNO                  
			,@tblCANCELLED);
          
          Declare db_cursor2 cursor for
            Select ST.znLocationCode, SL.ztDescription, ST.znStockTransactionID,
            ST.znTransactionDate, ST.znDescription, ST.znProjectCode, ST.znJobName,
            ST.znQty, ST.znUOM, ST.znCost - ST.znDiscount / ST.znQty, ST.znPrice - ST.znDiscount / -ST.znQty,
            ST.znDiscount, ST.znRefType, ST.znDocumentNo, ST.znReferenceNo1, ST.znReferenceNo2, ST.znCancelled
            From su_stocktransaction ST
            Left Join su_stocklocation SL On SL.ztLocationCode = ST.znLocationCode
            Where ST.znQty <> 0 And ST.znStockCode = @tblStockCode And ST.znCancelled <> 'T'
              And (@AllLocation <> 0 Or ST.znLocationCode = @LocationCode)
              And ST.znFromType <> 'DO' And ST.znFromType <> 'GRN'
              And dbo.DateToInt(ST.znTransactionDate) >= @DateFrom
              And dbo.DateToInt(ST.znTransactionDate) <= @DateTo
              And (@IncludedStockTransfer <> 0 Or ST.znRefType <> 'STT')
            Order By ST.znTransactionDate, ST.znQty Desc, ST.znStockTransactionID
            Open db_cursor2
			FETCH NEXT FROM db_cursor2 INTO @tblSTOCKLOCATIONCODE, @tblSTOCKLOCATIONNAME, @tblSTOCKTRANSACTIONID,
                 @tblTRANSACTIONDATE, @tblDESCRIPTION, @tblPROJECTCODE, @tblJOBNAME,
                 @TmpQty, @tblUOM, @tblCOST, @tblPRICE,
                 @tblDISCOUNT, @tblREFTYPE, @tblDOCUMENTNO, @tblREFERENCENO1, @tblREFERENCENO2, @tblCANCELLED
          WHILE @@FETCH_STATUS = 0
          BEGIN
            set @tblStockBalance = @tblStockBalance + @TmpQty;
            set @tblStockBalance = Round(@tblStockBalance, 8);
			IF( @tblREFTYPE = 'SA' )
			BEGIN
				Select @tblRefNo=sjSTOCKADJUSTMENTREFNO From su_stockadjustment Where sjSTOCKADJUSTMENTCODE=@tblDOCUMENTNO;
			END
			ELSE
			IF( @tblREFTYPE = 'GRN' )
			BEGIN
				Select @tblRefNo=gnGRNREFNO From su_grn Where gnGRNCODE=@tblDOCUMENTNO;
			END			
			ELSE
			IF( @tblREFTYPE = 'PINV' )
			BEGIN
				Select @tblRefNo=pvPURCHASEINVOICEREFNO From su_purchaseinvoice Where pvPURCHASEINVOICECODE=@tblDOCUMENTNO;
			END			
			ELSE
			IF( @tblREFTYPE = 'SCN' )
			BEGIN
				Select @tblRefNo=ssSALESCNREFNO From su_salescn Where ssSALESCNCODE=@tblDOCUMENTNO;
			END			
			ELSE			
			IF( @tblREFTYPE = 'INV' )
			BEGIN
				Select @tblRefNo=ivINVOICEREFNO From su_invoice Where ivINVOICECODE=@tblDOCUMENTNO;
			END			
			ELSE				
			IF( @tblREFTYPE = 'CS' )
			BEGIN
				Select @tblRefNo=csCASHSALESREFNO From su_cashsales Where csCASHSALESCODE=@tblDOCUMENTNO;
			END			
			ELSE				
			IF( @tblREFTYPE = 'PCN' )
			BEGIN
				Select @tblRefNo=pnPURCHASERETURNREFNO From su_purchasereturn Where pnPURCHASERETURNCODE=@tblDOCUMENTNO;
			END			
			ELSE			
			IF( @tblREFTYPE = 'STA' )
			BEGIN
				Select @tblRefNo=szSTOCKTAKEREFNO From su_stocktake Where szSTOCKTAKECODE=@tblDOCUMENTNO;
			END			
			ELSE				
			IF( @tblREFTYPE = 'SI' )
			BEGIN
				Select @tblRefNo=zkSTOCKISSUESREFNO From su_stockissues Where zkSTOCKISSUESCODE=@tblDOCUMENTNO;
			END			
			ELSE				
			IF( @tblREFTYPE = 'DO' )
			BEGIN
				Select @tblRefNo=doDELIVERYORDERREFNO From su_deliveryorder Where doDELIVERYORDERCODE=@tblDOCUMENTNO;
			END			
			ELSE				
			IF( @tblREFTYPE = 'SAM' )
			BEGIN
				Select @tblRefNo=sqSTOCKASSEMBLYREFNO From su_stockassembly Where sqSTOCKASSEMBLYCODE=@tblDOCUMENTNO;
			END			
			ELSE				
			IF( @tblREFTYPE = 'SIR' )
			BEGIN
				Select @tblRefNo=zxSTOCKISSUESRETURNREFNO From su_stockissuesreturn Where zxSTOCKISSUESRETURNCODE=@tblDOCUMENTNO;
			END			
			ELSE
			IF( @tblREFTYPE = 'OB' )
			BEGIN
				Select @tblRefNo=zuSTOCKOPENINGBALANCEREFNO From su_stockopeningbalance Where zuSTOCKOPENINGBALANCECODE=@tblDOCUMENTNO;
			END			
			ELSE				
			BEGIN
				set @tblRefNo='';
			END
			
            IF (@TmpQty > 0)
            BEGIN
              set @tblStockIn = @TmpQty;
              set @tblStockOut = 0;
              
              IF (@tblRefType <> 'SCN')
              BEGIN
                set @tblPrice = 0;
              END
              
              set @tblAmount = Round(@tblStockIn * @tblCost, 2);
            END
            ELSE
            BEGIN
              set @tblStockIn = 0;
              set @tblStockOut = -@TmpQty;
              set @tblCost = 0;
              
              set @tblAmount = Round(@tblStockOut * @tblPrice, 2);
            END
			
			IF (@ViewCostRight = 'N')
			BEGIN
				set @tblCOST = 0;
				set @tblAMOUNT = 0;
			END
            IF (@ViewPriceRight = 'N')
            BEGIN
                set @tblPRICE = 0;
                set @tblAMOUNT = 0;
            END
            
            /* Suspend after balance b/f data */
            Insert into @table values(@tblSTOCKCODE              
			,@tblSTOCKTYPE              
			,@tblBUNDLED                
			,@tblINACTIVED              
			,@tblSTOCKNAME              
			,@tblSTOCKNAME2             
			,@tblSTOCKCATEGORYCODE      
			,@tblSTOCKCLASSCODE         
			,@tblSTOCKGROUPCODE         
			,@tblSTOCKLASTPURCHASEPRICE 
			,@tblSTOCKBASEUOM           
			,@tblSTOCKMINQTY            
			,@tblSTOCKMAXQTY            
			,@tblSTOCKREORDERLEVEL      
			,@tblSTOCKREORDERQTY        
			,@tblSTOCKBARCODE           
			,@tblSTOCKWEIGHT            
			,@tblSTOCKWEIGHTUOM         
			,@tblSTOCKVOLUMN            
			,@tblSTOCKVOLUMNUOM         
			,@tblSTOCKUOM1              
			,@tblSTOCKUOM1RATE          
			,@tblSTOCKUOM2              
			,@tblSTOCKUOM2RATE          
			,@tblSTOCKUOM3              
			,@tblSTOCKUOM3RATE          
			,@tblSTOCKINACTIVED         
			,@tblSTOCKCATEGORYNAME      
			,@tblSTOCKCLASSNAME         
			,@tblSTOCKGROUPNAME         
			,@tblSTOCKLOCATIONCODE      
			,@tblSTOCKLOCATIONNAME      
			,@tblSTOCKTRANSACTIONID     
			,@tblTRANSACTIONDATE        
			,@tblDESCRIPTION            
			,@tblPROJECTCODE            
			,@tblJOBNAME                
			,@tblSTOCKIN                
			,@tblSTOCKOUT               
			,@tblSTOCKBALANCE           
			,@tblUOM                    
			,@tblCOST                   
			,@tblPRICE                  
			,@tblAMOUNT                 
			,@tblDISCOUNT               
			,@tblREFTYPE                
			,@tblDOCUMENTNO             
			,@tblREFERENCENO1           
			,@tblREFERENCENO2           
			,@tblREFNO                  
			,@tblCANCELLED);
          FETCH NEXT FROM db_cursor2 INTO @tblSTOCKLOCATIONCODE, @tblSTOCKLOCATIONNAME, @tblSTOCKTRANSACTIONID,
                 @tblTRANSACTIONDATE, @tblDESCRIPTION, @tblPROJECTCODE, @tblJOBNAME,
                 @TmpQty, @tblUOM, @tblCOST, @tblPRICE,
                 @tblDISCOUNT, @tblREFTYPE, @tblDOCUMENTNO, @tblREFERENCENO1, @tblREFERENCENO2, @tblCANCELLED
		  END
		  CLOSE db_cursor2
		  DEALLOCATE db_cursor2
        END
      FETCH NEXT FROM db_cursor1 INTO @tblSTOCKCODE, @tblSTOCKTYPE, @tblSTOCKNAME, @tblSTOCKNAME2, @tblSTOCKCATEGORYCODE, @tblSTOCKCLASSCODE,
             @tblSTOCKGROUPCODE, @tblSTOCKLASTPURCHASEPRICE, @tblSTOCKBASEUOM, @tblSTOCKMINQTY, @tblSTOCKMAXQTY, @tblSTOCKREORDERLEVEL,
             @tblSTOCKREORDERQTY, @tblSTOCKBARCODE, @tblSTOCKWEIGHT, @tblSTOCKWEIGHTUOM, @tblSTOCKVOLUMN, @tblSTOCKVOLUMNUOM,
             @tblSTOCKUOM1, @tblSTOCKUOM1RATE, @tblSTOCKUOM2, @tblSTOCKUOM2RATE, @tblSTOCKUOM3, @tblSTOCKUOM3RATE, @tblSTOCKINACTIVED,
             @tblSTOCKCATEGORYNAME, @tblSTOCKCLASSNAME, @tblSTOCKGROUPNAME, @tblBUNDLED, @tblInactived
	  END
	  CLOSE db_cursor1
	  DEALLOCATE db_cursor1
    END
    ELSE
    BEGIN
    
		declare @tablebalance table(stockcode varchar(50),qty float);
		insert into @tablebalance
		Select st.znSTOCKCODE,Round(dbo.FB_Null2Zero(Sum(ST.znRemainQty)), 8) From su_stocktransaction ST
		Where ST.znRemainQty <> 0
		And ST.znCancelled <> 'T' And convert(varchar,ST.znTransferedFromDate,112) < @DateFrom
		And (@AllLocation <> 0 Or ST.znLocationCode = @LocationCode)
		And (@IncludedStockTransfer <> 0 Or ST.znRefType <> 'STT')	  
		group by ST.znSTOCKCODE;

      Declare db_cursor3 cursor for
        Select distinct S.skStockCode, S.skItemType, S.skStockName, S.skStockName2, S.skCategoryCode, S.skClassCode,
        S.skGroupCode, S.skLastPurchasePrice, S.skUOM, S.skMinQty, S.skMaxQty, S.skReorderLevel,
        S.skReorderQty, S.skBarCode, S.skWeight, S.skWeightUOM, S.skVolumn, S.skVolumnUOM,
        S.skUOM1, S.skUOM1Rate, S.skUOM2, S.skUOM2Rate, S.skUOM3, S.skUOM3Rate, S.skInactived,
        SCT.ziDescription, SCL.zyDescription, SG.zmDescription, S.skBundled, S.skInactived
        From su_stock S
        Inner join su_stocktransaction on S.skSTOCKCODE = znSTOCKCODE
        Left Join su_stockcategory SCT On SCT.ziCategoryCode = S.skCategoryCode
        Left Join su_stockclass SCL On SCL.zyClassCode = S.skClassCode
        Left Join su_stockgroup SG On SG.zmGroupCode = S.skGroupCode
        Where S.skItemType not in ('V','F')        
        and ((select count(*) from @stockcode) = 0 or S.skStockCode in (select * from @stockcode))
        and ((select count(*) from @categorycode) = 0 or S.skCategoryCode in (select * from @categorycode))
        and ((select count(*) from @groupcode) = 0 or S.skGROUPCODE in (select * from @groupcode))
        and ((select count(*) from @classcode) = 0 or S.skCLASSCODE in (select * from @classcode))
        and CONVERT(varchar, znTRANSACTIONDATE, 112) between @datefrom and @dateto and znREFTYPE = 'INV';
        Open db_cursor3
		FETCH NEXT FROM db_cursor3 INTO @tblSTOCKCODE, @tblSTOCKTYPE, @tblSTOCKNAME, @tblSTOCKNAME2, @tblSTOCKCATEGORYCODE, @tblSTOCKCLASSCODE,
             @tblSTOCKGROUPCODE, @tblSTOCKLASTPURCHASEPRICE, @tblSTOCKBASEUOM, @tblSTOCKMINQTY, @tblSTOCKMAXQTY, @tblSTOCKREORDERLEVEL,
             @tblSTOCKREORDERQTY, @tblSTOCKBARCODE, @tblSTOCKWEIGHT, @tblSTOCKWEIGHTUOM, @tblSTOCKVOLUMN, @tblSTOCKVOLUMNUOM,
             @tblSTOCKUOM1, @tblSTOCKUOM1RATE, @tblSTOCKUOM2, @tblSTOCKUOM2RATE, @tblSTOCKUOM3, @tblSTOCKUOM3RATE, @tblSTOCKINACTIVED,
             @tblSTOCKCATEGORYNAME, @tblSTOCKCLASSNAME, @tblSTOCKGROUPNAME, @tblBUNDLED, @tblInactived
      WHILE @@FETCH_STATUS = 0
      BEGIN
		set @tblRefNo = '';
	  	IF (@ViewCostRight = 'N')
		BEGIN
			set @tblStockLastPurchasePrice = 0;
		END
		
        --Select @tblSTOCKBALANCE=Round(dbo.FB_Null2Zero(Sum(ST.znRemainQty)), 8) From su_stocktransaction ST
      	--Where ST.znStockCode = @tblStockCode
      	--And ST.znRemainQty <> 0
       -- And ST.znCancelled <> 'T' And dbo.DateToInt(ST.znTransferedFromDate) < @DateFrom
       -- And (@AllLocation <> 0 Or ST.znLocationCode = @LocationCode)
       -- And (@IncludedStockTransfer <> 0 Or ST.znRefType <> 'STT');
       select @tblSTOCKBALANCE=qty from @tablebalance where stockcode = @tblStockCode;
        
        set @TmpRecordCount = 0;
        set @tblStockBalance = Round(@tblStockBalance, 8);
        
        IF (Round(@tblStockBalance, 8) = 0)
        BEGIN
          Select @TMPRECORDCOUNT=Count(ST.znStockCode) From su_stocktransaction ST
      	  Where ST.znStockCode = @tblStockCode
      	  And ST.znRemainQty <> 0
          And ST.znCancelled <> 'T'
          And convert(varchar,ST.znTransferedFromDate,112) >= @DateFrom
          And convert(varchar,ST.znTransferedFromDate,112) <= @DateTo
          And (@AllLocation <> 0 Or ST.znLocationCode = @LocationCode)
          And (@IncludedStockTransfer <> 0 Or ST.znRefType <> 'STT');
        END
        
        IF ((@IncludeZeroBalance <> 0) OR (@tblStockBalance <> 0) OR (@TmpRecordCount > 0))
        BEGIN
          set @tblStockLocationCode = '';
          set @tblStockLocationName = '';
          set @tblStockTransactionID = 0;
          set @tblTransactionDate = dbo.DateIntToDateTime(@DateFrom);
          set @tblDescription = 'BALANCE B/F';
          set @tblProjectCode = '';
          set @tblJobName = '';
          set @tblUOM = '';
          set @tblCost = 0;
          set @tblPrice = 0;
          set @tblAmount = 0;
          set @tblDiscount = 0;
          set @tblRefType = 'OB';
          set @tblDocumentNo = '';
          set @tblReferenceNo1 = '';
          set @tblReferenceNo2 = '';
          set @tblCancelled = 'F';
          
          IF (@tblStockBalance >= 0)
          BEGIN
            set @tblStockIn = @tblStockBalance;
            set @tblStockOut = 0;
          END
          ELSE
          BEGIN
            set @tblStockIn = 0;
            set @tblStockOut = -@tblStockBalance;
          END
          
          /* Suspend balance b/f */
          Insert into @table values(@tblSTOCKCODE              
			,@tblSTOCKTYPE              
			,@tblBUNDLED                
			,@tblINACTIVED              
			,@tblSTOCKNAME              
			,@tblSTOCKNAME2             
			,@tblSTOCKCATEGORYCODE      
			,@tblSTOCKCLASSCODE         
			,@tblSTOCKGROUPCODE         
			,@tblSTOCKLASTPURCHASEPRICE 
			,@tblSTOCKBASEUOM           
			,@tblSTOCKMINQTY            
			,@tblSTOCKMAXQTY            
			,@tblSTOCKREORDERLEVEL      
			,@tblSTOCKREORDERQTY        
			,@tblSTOCKBARCODE           
			,@tblSTOCKWEIGHT            
			,@tblSTOCKWEIGHTUOM         
			,@tblSTOCKVOLUMN            
			,@tblSTOCKVOLUMNUOM         
			,@tblSTOCKUOM1              
			,@tblSTOCKUOM1RATE          
			,@tblSTOCKUOM2              
			,@tblSTOCKUOM2RATE          
			,@tblSTOCKUOM3              
			,@tblSTOCKUOM3RATE          
			,@tblSTOCKINACTIVED         
			,@tblSTOCKCATEGORYNAME      
			,@tblSTOCKCLASSNAME         
			,@tblSTOCKGROUPNAME         
			,@tblSTOCKLOCATIONCODE      
			,@tblSTOCKLOCATIONNAME      
			,@tblSTOCKTRANSACTIONID     
			,@tblTRANSACTIONDATE        
			,@tblDESCRIPTION            
			,@tblPROJECTCODE            
			,@tblJOBNAME                
			,@tblSTOCKIN                
			,@tblSTOCKOUT               
			,@tblSTOCKBALANCE           
			,@tblUOM                    
			,@tblCOST                   
			,@tblPRICE                  
			,@tblAMOUNT                 
			,@tblDISCOUNT               
			,@tblREFTYPE                
			,@tblDOCUMENTNO             
			,@tblREFERENCENO1           
			,@tblREFERENCENO2           
			,@tblREFNO                  
			,@tblCANCELLED);
          
          Declare db_cursor4 cursor for
            Select ST.znLocationCode, SL.ztDescription, ST.znStockTransactionID,
            ST.znTransferedFromDate, ST.znDescription, ST.znProjectCode, ST.znJobName,
            ST.znRemainQty, ST.znUOM, ST.znCost - ST.znDiscount / ST.znRemainQty, ST.znPrice - ST.znDiscount / -ST.znRemainQty,
            ST.znDiscount, ST.znRefType, ST.znDocumentNo, ST.znReferenceNo1, ST.znReferenceNo2, ST.znCancelled
            From su_stocktransaction ST
            Left Join su_stocklocation SL On SL.ztLocationCode = ST.znLocationCode
            Where ST.znRemainQty <> 0 And ST.znStockCode = @tblStockCode And ST.znCancelled <> 'T'
              And (@AllLocation <> 0 Or ST.znLocationCode = @LocationCode)
              And convert(varchar,ST.znTransferedFromDate,112) >= @DateFrom
              And convert(varchar,ST.znTransferedFromDate,112) <= @DateTo
              And (@IncludedStockTransfer <> 0 Or ST.znRefType <> 'STT')
            Order By ST.znTransferedFromDate, ST.znRemainQty Desc, ST.znStockTransactionID
            Open db_cursor4
			FETCH NEXT FROM db_cursor4 INTO @tblSTOCKLOCATIONCODE, @tblSTOCKLOCATIONNAME, @tblSTOCKTRANSACTIONID,
                 @tblTRANSACTIONDATE, @tblDESCRIPTION, @tblPROJECTCODE, @tblJOBNAME,
                 @TmpQty, @tblUOM, @tblCOST, @tblPRICE,
                 @tblDISCOUNT, @tblREFTYPE, @tblDOCUMENTNO, @tblREFERENCENO1, @tblREFERENCENO2, @tblCANCELLED
          WHILE @@FETCH_STATUS = 0
          BEGIN
            set @tblStockBalance = @tblStockBalance + @TmpQty;
            set @tblStockBalance = Round(@tblStockBalance, 8);
			IF( @tblREFTYPE = 'SA' )
			BEGIN
				Select @tblRefNo=sjSTOCKADJUSTMENTREFNO From su_stockadjustment Where sjSTOCKADJUSTMENTCODE=@tblDOCUMENTNO;
			END
			ELSE
			IF( @tblREFTYPE = 'GRN' )
			BEGIN
				Select @tblRefNo=gnGRNREFNO From su_grn Where gnGRNCODE=@tblDOCUMENTNO;
			END			
			ELSE
			IF( @tblREFTYPE = 'PINV' )
			BEGIN
				Select @tblRefNo=pvPURCHASEINVOICEREFNO From su_purchaseinvoice Where pvPURCHASEINVOICECODE=@tblDOCUMENTNO;
			END			
			ELSE
			IF( @tblREFTYPE = 'SCN' )
			BEGIN
				Select @tblRefNo=ssSALESCNREFNO From su_salescn Where ssSALESCNCODE=@tblDOCUMENTNO;
			END			
			ELSE			
			IF( @tblREFTYPE = 'INV' )
			BEGIN
				Select @tblRefNo=ivINVOICEREFNO From su_invoice Where ivINVOICECODE=@tblDOCUMENTNO;
			END			
			ELSE				
			IF( @tblREFTYPE = 'CS' )
			BEGIN
				Select @tblRefNo=csCASHSALESREFNO From su_cashsales Where csCASHSALESCODE=@tblDOCUMENTNO;
			END			
			ELSE				
			IF( @tblREFTYPE = 'PCN' )
			BEGIN
				Select @tblRefNo=pnPURCHASERETURNREFNO From su_purchasereturn Where pnPURCHASERETURNCODE=@tblDOCUMENTNO;
			END			
			ELSE			
			IF( @tblREFTYPE = 'STA' )
			BEGIN
				Select @tblRefNo=szSTOCKTAKEREFNO From su_stocktake Where szSTOCKTAKECODE=@tblDOCUMENTNO;
			END			
			ELSE				
			IF( @tblREFTYPE = 'SI' )
			BEGIN
				Select @tblRefNo=zkSTOCKISSUESREFNO From su_stockissues Where zkSTOCKISSUESCODE=@tblDOCUMENTNO;
			END			
			ELSE				
			IF( @tblREFTYPE = 'DO' )
			BEGIN
				Select @tblRefNo=doDELIVERYORDERREFNO From su_deliveryorder Where doDELIVERYORDERCODE=@tblDOCUMENTNO;
			END			
			ELSE				
			IF( @tblREFTYPE = 'SAM' )
			BEGIN
				Select @tblRefNo=sqSTOCKASSEMBLYREFNO From su_stockassembly Where sqSTOCKASSEMBLYCODE=@tblDOCUMENTNO;
			END			
			ELSE				
			IF( @tblREFTYPE = 'SIR' )
			BEGIN
				Select @tblRefNo=zxSTOCKISSUESRETURNREFNO From su_stockissuesreturn Where zxSTOCKISSUESRETURNCODE=@tblDOCUMENTNO;
			END			
			ELSE
			IF( @tblREFTYPE = 'OB' )
			BEGIN
				Select @tblRefNo=zuSTOCKOPENINGBALANCEREFNO From su_stockopeningbalance Where zuSTOCKOPENINGBALANCECODE=@tblDOCUMENTNO;
			END			
			ELSE				
			BEGIN
				set @tblRefNo='';
			END
            
            IF (@TmpQty > 0)
            BEGIN
              set @tblStockIn = @TmpQty;
              set @tblStockOut = 0;
              
              IF (@tblRefType <> 'SCN')
              BEGIN
                set @tblPrice = 0;
              END
              
              set @tblAmount = Round(@tblStockIn * @tblCost, 2);
            END
            ELSE
            BEGIN
              set @tblStockIn = 0;
              set @tblStockOut = -@TmpQty;
              set @tblCost = 0;
              
              set @tblAmount = Round(@tblStockOut * @tblPrice, 2);
            END
			
			IF (@ViewCostRight = 'N')
			BEGIN
				set @tblCOST = 0;
				set @tblAMOUNT = 0;
			END
            IF (@ViewPriceRight = 'N')
            BEGIN
                set @tblPRICE = 0;
                set @tblAMOUNT = 0;
            END
            
            /* Suspend after balance b/f data */
            Insert into @table values(@tblSTOCKCODE              
			,@tblSTOCKTYPE              
			,@tblBUNDLED                
			,@tblINACTIVED              
			,@tblSTOCKNAME              
			,@tblSTOCKNAME2             
			,@tblSTOCKCATEGORYCODE      
			,@tblSTOCKCLASSCODE         
			,@tblSTOCKGROUPCODE         
			,@tblSTOCKLASTPURCHASEPRICE 
			,@tblSTOCKBASEUOM           
			,@tblSTOCKMINQTY            
			,@tblSTOCKMAXQTY            
			,@tblSTOCKREORDERLEVEL      
			,@tblSTOCKREORDERQTY        
			,@tblSTOCKBARCODE           
			,@tblSTOCKWEIGHT            
			,@tblSTOCKWEIGHTUOM         
			,@tblSTOCKVOLUMN            
			,@tblSTOCKVOLUMNUOM         
			,@tblSTOCKUOM1              
			,@tblSTOCKUOM1RATE          
			,@tblSTOCKUOM2              
			,@tblSTOCKUOM2RATE          
			,@tblSTOCKUOM3              
			,@tblSTOCKUOM3RATE          
			,@tblSTOCKINACTIVED         
			,@tblSTOCKCATEGORYNAME      
			,@tblSTOCKCLASSNAME         
			,@tblSTOCKGROUPNAME         
			,@tblSTOCKLOCATIONCODE      
			,@tblSTOCKLOCATIONNAME      
			,@tblSTOCKTRANSACTIONID     
			,@tblTRANSACTIONDATE        
			,@tblDESCRIPTION            
			,@tblPROJECTCODE            
			,@tblJOBNAME                
			,@tblSTOCKIN                
			,@tblSTOCKOUT               
			,@tblSTOCKBALANCE           
			,@tblUOM                    
			,@tblCOST                   
			,@tblPRICE                  
			,@tblAMOUNT                 
			,@tblDISCOUNT               
			,@tblREFTYPE                
			,@tblDOCUMENTNO             
			,@tblREFERENCENO1           
			,@tblREFERENCENO2           
			,@tblREFNO                  
			,@tblCANCELLED);
          FETCH NEXT FROM db_cursor4 INTO @tblSTOCKLOCATIONCODE, @tblSTOCKLOCATIONNAME, @tblSTOCKTRANSACTIONID,
                 @tblTRANSACTIONDATE, @tblDESCRIPTION, @tblPROJECTCODE, @tblJOBNAME,
                 @TmpQty, @tblUOM, @tblCOST, @tblPRICE,
                 @tblDISCOUNT, @tblREFTYPE, @tblDOCUMENTNO, @tblREFERENCENO1, @tblREFERENCENO2, @tblCANCELLED
		  END
		  CLOSE db_cursor4
		  DEALLOCATE db_cursor4
        END
      FETCH NEXT FROM db_cursor3 INTO @tblSTOCKCODE, @tblSTOCKTYPE, @tblSTOCKNAME, @tblSTOCKNAME2, @tblSTOCKCATEGORYCODE, @tblSTOCKCLASSCODE,
             @tblSTOCKGROUPCODE, @tblSTOCKLASTPURCHASEPRICE, @tblSTOCKBASEUOM, @tblSTOCKMINQTY, @tblSTOCKMAXQTY, @tblSTOCKREORDERLEVEL,
             @tblSTOCKREORDERQTY, @tblSTOCKBARCODE, @tblSTOCKWEIGHT, @tblSTOCKWEIGHTUOM, @tblSTOCKVOLUMN, @tblSTOCKVOLUMNUOM,
             @tblSTOCKUOM1, @tblSTOCKUOM1RATE, @tblSTOCKUOM2, @tblSTOCKUOM2RATE, @tblSTOCKUOM3, @tblSTOCKUOM3RATE, @tblSTOCKINACTIVED,
             @tblSTOCKCATEGORYNAME, @tblSTOCKCLASSNAME, @tblSTOCKGROUPNAME, @tblBUNDLED, @tblInactived
	  END
	  CLOSE db_cursor3
	  DEALLOCATE db_cursor3
    END
  END
  Return;
END
