
ALTER PROCEDURE [dbo].[RPTDailyReportOzone](
 @TRANSACTIONMETHOD      INT,
 @DATEFROM               INT,
 @DATETO                 INT,
 @ALLLOCATION            INT,
 @LOCATIONCODE           VARCHAR(20),
 @INCLUDEZEROBALANCE     INT,
 @INCLUDEDATA            INT,
 @INCLUDEDSTOCKTRANSFER  INT,
 @VIEWCOSTRIGHT          CHAR(1),
 @VIEWPRICERIGHT         CHAR(1),
 @stockcode tp_codehelper readonly,
 @categorycode tp_codehelper readonly,
 @groupcode tp_codehelper readonly,
 @classcode tp_codehelper readonly,
 @groupby int, -- 0=none,1=category,2=group,3=class
 @title nvarchar(100)
)
AS
BEGIN
	declare @table table (
	 STOCKCODE              VARCHAR(50),
	 STOCKTYPE              CHAR(1),
	 BUNDLED                CHAR(1),
	 INACTIVED              CHAR(1),
	 STOCKNAME              NVARCHAR(100),
	 STOCKNAME2             NVARCHAR(100),
	 STOCKCATEGORYCODE      VARCHAR(20),
	 STOCKCLASSCODE         VARCHAR(20),
	 STOCKGROUPCODE         VARCHAR(20),
	 STOCKLASTPURCHASEPRICE Float,
	 STOCKBASEUOM           VARCHAR(20),
	 STOCKMINQTY            Float,
	 STOCKMAXQTY            Float,
	 STOCKREORDERLEVEL      Float,
	 STOCKREORDERQTY        Float,
	 STOCKBARCODE           VARCHAR(100),
	 STOCKWEIGHT            Float,
	 STOCKWEIGHTUOM         VARCHAR(20),
	 STOCKVOLUMN            Float,
	 STOCKVOLUMNUOM         VARCHAR(20),
	 STOCKUOM1              VARCHAR(20),
	 STOCKUOM1RATE          Float,
	 STOCKUOM2              VARCHAR(20),
	 STOCKUOM2RATE          Float,
	 STOCKUOM3              VARCHAR(20),
	 STOCKUOM3RATE          Float,
	 STOCKINACTIVED         CHAR(1),
	 STOCKCATEGORYNAME      VARCHAR(100),
	 STOCKCLASSNAME         VARCHAR(100),
	 STOCKGROUPNAME         VARCHAR(100),
	 STOCKLOCATIONCODE      VARCHAR(20),
	 STOCKLOCATIONNAME      VARCHAR(100),
	 STOCKTRANSACTIONID     INTEGER,
	 TRANSACTIONDATE        DateTime,
	 DESCRIPTION            NVARCHAR(100),
	 PROJECTCODE            VARCHAR(20),
	 JOBNAME                VARCHAR(50),
	 STOCKIN                Float,
	 STOCKOUT               Float,
	 STOCKBALANCE           Float,
	 UOM                    VARCHAR(20),
	 COST                   Float,
	 PRICE                  Float,
	 AMOUNT                 Float,
	 DISCOUNT               Float,
	 REFTYPE                CHAR(20),
	 DOCUMENTNO             VARCHAR(50),
	 REFERENCENO1           VARCHAR(50),
	 REFERENCENO2           VARCHAR(50),
	 REFNO                  VARCHAR(50),
	 CANCELLED              CHAR(1));	 
	
	 insert into @table
	 select * from [dbo].[fn18_stockleadger](@TRANSACTIONMETHOD,@DATEFROM,@DATETO,@ALLLOCATION,@LOCATIONCODE,@INCLUDEZEROBALANCE,@INCLUDEDATA,@INCLUDEDSTOCKTRANSFER,@VIEWCOSTRIGHT,@VIEWPRICERIGHT,@stockcode,@categorycode,@classcode,@groupcode);
	 
	 declare @returnTable table(
		AUTOID  int identity primary key,
		stockcode   nvarchar(500),
		stockname   nvarchar(500),
		beginingbalance   nvarchar(500),
		purchase   nvarchar(500),
		production nvarchar(500),
		sales   nvarchar(500),
		issue   nvarchar(500),
		adjustment   nvarchar(500),
		other	   nvarchar(500),
		endingbalance   nvarchar(500),
		FLAG    varchar(10)
	);
	
	
	 Insert into @returnTable(stockcode, FLAG) values((select top 1 cpCOMPANYNAME from su_companyprofile),'company');
	 Insert into @returnTable(stockcode, FLAG) values(@title,'title');
	 Insert into @returnTable values('Stock Code','Stock Name','Beginning','Purchase','Production','Sales','Issue','Adjustment','Other','Ending','head1');
	 
	
	declare @beginbalance float,
			@purchase float,
			@production float,
			@sales float,
			@issue float,
			@adjustment float,
			@other float,
			@endingbalance float;	
			
		declare @tmpStockCode varchar(50) = '',@tmpStockName nvarchar(100)='';
		if @groupby = 0
		begin			
			DECLARE db_cursor1 CURSOR LOCAL FOR
			Select distinct STOCKCODE FROM @table order by STOCKCODE;
			OPEN db_cursor1
			FETCH NEXT FROM db_cursor1 INTO @tmpStockCode
			WHILE @@FETCH_STATUS = 0
			BEGIN
				select @tmpStockName = STOCKNAME from @table where STOCKCODE = @tmpStockCode;
				select @beginbalance = isnull(SUM(STOCKIN - STOCKOUT),0) from @table where STOCKCODE = @tmpStockCode and REFTYPE = 'OB';
				select @purchase = isnull(SUM(STOCKIN),0) from @table where STOCKCODE = @tmpStockCode and REFTYPE = 'PINV';
				select @production = isnull(SUM(STOCKIN - STOCKOUT),0) from @table where STOCKCODE = @tmpStockCode and REFTYPE = 'SAM';
				select @sales = isnull(SUM(STOCKOUT),0) from @table where STOCKCODE = @tmpStockCode and REFTYPE = 'INV';
				select @issue = isnull(SUM(STOCKOUT),0) from @table where STOCKCODE = @tmpStockCode and REFTYPE = 'SI';
				select @adjustment = isnull(SUM(STOCKIN-STOCKOUT),0) from @table where STOCKCODE = @tmpStockCode and REFTYPE = 'SA';
				select @other = isnull(SUM(STOCKIN - STOCKOUT),0) from @table where STOCKCODE = @tmpStockCode and REFTYPE not in('SAM','INV','SI','SA','PINV','OB');
				select @endingbalance = @beginbalance +(select isnull(SUM(STOCKIN - STOCKOUT),0) from @table where STOCKCODE = @tmpStockCode and REFTYPE<>'OB')
				
				insert into @returnTable values(@tmpStockCode,@tmpStockName,@beginbalance,@purchase,@production,@sales,@issue,@adjustment,@other,@endingbalance,'flag2');
			FETCH NEXT FROM db_cursor1 INTO @tmpStockCode
			END
			CLOSE db_cursor1
			DEALLOCATE db_cursor1	 				
		end
		else
		begin
			declare @tmpGROUPBY nvarchar(50) = '', @tmpGROUPBYCODE varchar(50) = '';
			set @tmpGROUPBY = (case @GROUPBY when '1' then 'Catetory' when '2' then 'Group' when 3 then 'Class' end);
			
			DECLARE db_cursor2 CURSOR LOCAL FOR
			Select distinct (case @groupby when 1 then STOCKCATEGORYCODE when 2 then STOCKGROUPCODE when 3 then STOCKCLASSCODE end) FROM @table			
			--Group by (case @groupby when 1 then STOCKCATEGORYCODE when 2 then STOCKGROUPCODE when 3 then STOCKCLASSCODE end);
			OPEN db_cursor2
			FETCH NEXT FROM db_cursor2 INTO @tmpGROUPBYCODE
			WHILE @@FETCH_STATUS = 0
			BEGIN					
				Insert into @returnTable(stockcode, FLAG) 
				values(@tmpGROUPBY +': ' + (case when isnull(@tmpGROUPBYCODE,'')='' then 'No '+@tmpGROUPBY else @tmpGROUPBYCODE end), 'flag1');
								
				DECLARE db_cursor3 CURSOR LOCAL FOR
				Select distinct STOCKCODE FROM @table where ((@groupby = 1 and STOCKCATEGORYCODE=@tmpGROUPBYCODE)
					or (@groupby = 2 and STOCKGROUPCODE=@tmpGROUPBYCODE)
					or (@groupby = 3 and STOCKCLASSCODE=@tmpGROUPBYCODE)) order by STOCKCODE;
				OPEN db_cursor3
				FETCH NEXT FROM db_cursor3 INTO @tmpStockCode
				WHILE @@FETCH_STATUS = 0
				BEGIN
				
					select @tmpStockName = STOCKNAME from @table where STOCKCODE = @tmpStockCode;					
					select @beginbalance = isnull(SUM(STOCKIN - STOCKOUT),0) from @table where STOCKCODE = @tmpStockCode and REFTYPE = 'OB';					
					select @purchase = isnull(SUM(STOCKIN),0) from @table where STOCKCODE = @tmpStockCode and REFTYPE = 'PINV';					
					select @production = isnull(SUM(STOCKIN - STOCKOUT),0) from @table where STOCKCODE = @tmpStockCode and REFTYPE = 'SAM';					
					select @sales = isnull(SUM(STOCKOUT),0) from @table where STOCKCODE = @tmpStockCode and REFTYPE = 'INV';					
					select @issue = isnull(SUM(STOCKOUT),0) from @table where STOCKCODE = @tmpStockCode and REFTYPE = 'SI';					
					select @adjustment = isnull(SUM(STOCKIN-STOCKOUT),0) from @table where STOCKCODE = @tmpStockCode and REFTYPE = 'SA';					
					select @other = isnull(SUM(STOCKIN - STOCKOUT),0) from @table where STOCKCODE = @tmpStockCode and REFTYPE not in('SAM','INV','SI','SA','PINV','OB');					
					select @endingbalance = @beginbalance +(select isnull(SUM(STOCKIN - STOCKOUT),0) from @table where STOCKCODE = @tmpStockCode and REFTYPE<>'OB');				
					insert into @returnTable values(@tmpStockCode,@tmpStockName,@beginbalance,@purchase,@production,@sales,@issue,@adjustment,@other,@endingbalance,'flag2');
					
				FETCH NEXT FROM db_cursor3 INTO @tmpStockCode
				END
				CLOSE db_cursor3
				DEALLOCATE db_cursor3
				
			FETCH NEXT FROM db_cursor2 INTO @tmpGROUPBYCODE
			END
			CLOSE db_cursor2
			DEALLOCATE db_cursor2
		end
	select * from @returnTable;
END


